* {
  box-sizing: border-box;
}

.grid {
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  cursor: pointer;
  overflow: hidden;
}

.grid .col {
  height: 1000px;
  margin-top: -500px;
  display: flex;
  flex-flow: column-reverse wrap;
}

.grid .col > div {
  width: 50px;
  height: 50px;
}

.amethyst {
  background-image: url(../images/amethyst.png);
  background-size: cover;
}

.aquamarine {
  background-image: url(../images/aquamarine.png);
  background-size: cover;
}

.diamond {
  background-image: url(../images/diamond.png);
  background-size: cover;
}

.opal {
  background-image: url(../images/opal.png);
  background-size: cover;
}

.ruby {
  background-image: url(../images/ruby.png);
  background-size: cover;
}

.sapphire {
  background-image: url(../images/sapphire.png);
  background-size: cover;
}

.topaz {
  background-image: url(../images/topaz.png);
  background-size: cover;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: pulse;
  animation-iteration-count: infinite;
}
