$amethyst: #d254ad;
$diamond: #d6d7d9;
$opal: #46b6e4;
$ruby: #a62e1e;
$sapphire: #e9be2e;
$topaz: #60ac4a;

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  &.amethyst {
    background-color: $amethyst;

    .grid, .display {
      border-color: darken($amethyst, 10%) darken($amethyst, 10%)
        lighten($amethyst, 10%) lighten($amethyst, 10%);
    }
  }

  &.diamond {
    background-color: $diamond;

    .grid, .display {
      border-color: darken($diamond, 10%) darken($diamond, 10%)
        lighten($diamond, 10%) lighten($diamond, 10%);
    }
  }

  &.opal {
    background-color: $opal;

    .grid, .display {
      border-color: darken($opal, 10%) darken($opal, 10%)
        lighten($opal, 10%) lighten($opal, 10%);
    }
  }
  &.ruby {
    background-color: $ruby;

    .grid, .display {
      border-color: darken($ruby, 10%) darken($ruby, 10%)
        lighten($ruby, 10%) lighten($ruby, 10%);
    }
  }

  &.sapphire {
    background-color: $sapphire;

    .grid, .display {
      border-color: darken($sapphire, 10%) darken($sapphire, 10%)
        lighten($sapphire, 10%) lighten($sapphire, 10%);
    }
  }
  &.topaz {
    background-color: $topaz;

    .grid, .display {
      border-color: darken($topaz, 10%) darken($topaz, 10%)
        lighten($topaz, 10%) lighten($topaz, 10%);
    }
  }
}

button {
  border: 3px solid;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}

.grid {
  width: 540px;
  height: 540px;
  display: flex;
  flex-flow: row wrap;
  cursor: pointer;
  overflow: hidden;
  background-color: #fff;
  border: 10px solid;
  padding: 10px;
}

.grid .col {
  height: 1000px;
  margin-top: -500px;
  display: flex;
  flex-flow: column-reverse wrap;
}

.grid .col > div {
  width: 50px;
  height: 50px;
  background-size: cover;

  &.amethyst {
    background-image: url(../images/amethyst.png);
  }

  &.diamond {
    background-image: url(../images/diamond.png);
  }

  &.opal {
    background-image: url(../images/opal.png);
  }

  &.ruby {
    background-image: url(../images/ruby.png);
  }

  &.sapphire {
    background-image: url(../images/sapphire.png);
  }

  &.topaz {
    background-image: url(../images/topaz.png);
  }
}

.display {
  background-color: #fff;
  border: 10px solid;
  padding: 10px;
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > div {
    display: flex;
    justify-content: space-between;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: pulse;
  animation-iteration-count: infinite;
}
